.venv
.idea
__pycache__
caching
*caching
app_cache
*cache

db.sqlite3
start.sh
requests.http

.ipynb_checkpoints

# media файлы. Но оставим по одному, чтобы были папки
media/posters/*
!media/posters/default.png

media/postcards/*
!media/postcards/screenshot.png

media/cocktails/*
!media/cocktails/default.png

media/ingredients/*
!media/ingredients/default.png

staticfiles