/* =============  Центральная часть с постерами =============*/

/* Вкладки */
.stats-tabs {
    margin-bottom: 2rem;
}

.nav-tabs .nav-link {
    font-weight: bold;
    color: var(--black-color);
    border: 2px solid var(--orange-color);
    border-radius: 12px;
    margin: 0 0.5rem;
    padding: 0.8rem 1.5rem;
    font-size: 1.3rem;
}

.nav-tabs .nav-link.active {
    background-color: var(--orange-color);
    color: white;
    border-color: var(--orange-color);
}

.nav-tabs .nav-link:hover {
    border-color: var(--red-color);
    color: var(--red-color);
}

/* Постеры */
.movies-container {
    width: 100%;

    .tab-title {
        text-align: center;
        margin: 30px 0;
        font-size: 2.2rem;
        color: var(--red-color);
    }

    h2 {
        color: var(--black-color);
        font-weight: bold;
    }
}

.movie {
    width: 25%;

    .poster-container {
        width: 100%;
        height: 80%;
        position: relative;
        border: 4px solid black;

        .poster {
            width: 100%;
            height: 100%;
            max-height: 100%;
            object-fit: cover;
        }

        .rating {
            font-size: 1.5em;
            font-weight: bold;
            background-color: var(--orange-color);

            position: absolute;
            height: 10%;
            width: 100%;
            bottom: 0;
            left: 0;

            display: flex;
            justify-content: space-evenly;

            span {
                max-width: 32%;
                display: flex;
                align-items: center;
            }

            img {
                height: 1em;
                margin: 5px;
            }
        }
    }


    h4 {
        color: var(--red-color);
    }
}

/* Чтобы графики не ломали высоту */
.plotly-graph-div {
    width: 100% !important;
    height: 600px !important;
    margin: 30px 0;
}




/* ============= Правая часть со статистикой ============= */
#stats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
    color: var(--black-color);
    font-size: 1.4em;

    tr:nth-child(odd) {
        background-color: burlywood;
    }

    td {
        border: 2px solid black;
        padding: 5px;
    }

    td:nth-child(even) {
        font-weight: bold;
    }

    ul {
        list-style: none;
    }

}

#genres {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.genres-table {

    font-size: 1.2em;

    th {
        background-color: #9bab6e; /* Match your histogram color */
        font-weight: bold;
        border: 2px solid black;
    }


    td {
        border: 2px solid black;
        padding: 5px;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
}


@media (min-width: 3000px) {
    #stats {
        font-size: 2.5em;
    }

    .svg-container {
        width: 40vw;
    }

}

