#main-container {
    overflow: auto;
    max-height: 80vh;
}

.movies-container {
    width: 100%;

    h2 {
        color: var(--black-color);
        font-weight: bold;
    }
}

.movie {
    width: 25%;

    .poster-container {
        width: 100%;
        height: 80%;
        position: relative;

        .poster {
            width: 100%;
            height: 100%;
            max-height: 100%;
            object-fit: cover;
        }

        .rating {
            font-size: 1.5em;
            font-weight: bold;
            background-color: var(--orange-color);

            position: absolute;
            height: 10%;
            width: 100%;
            bottom: 0;
            left: 0;

            img {
                height: 1em;
                margin: 5px;
            }
        }
    }


    h4 {
        color: var(--red-color);
    }
}


#stats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
    color: var(--black-color);
    font-size: 1.4em;

    tr:nth-child(odd) {
        background-color: burlywood;
    }

    td {
        border: 2px solid black;
        padding: 5px;
    }

    td:nth-child(even) {
        font-weight: bold;
    }

    ul {
        list-style: none;
    }

}

#genres {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.genres-table {

    font-size: 1.2em;

    th {
        background-color: #9bab6e; /* Match your histogram color */
        font-weight: bold;
        border: 2px solid black;
    }


    td {
        border: 2px solid black;
        padding: 5px;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
}


@media (min-width: 3000px) {
    #stats {
        font-size: 2.5em;
    }

    .svg-container {
        width: 40vw;
    }

}

