:root {
    --black-color: #3d343e;
    --yellow-color: #f5d23c;
    --red-color: #df3c2b;
    --orange-color: #eb8b31;
    --white-color: #d8e0d3;
    --green-color: darkolivegreen;
}

/* Стилизация скроллбаров */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-button {
    display: none; /* Убирает стрелки */
    width: 0;
    height: 0;
}

/* Для Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);
}