:root {
    --black-color: #3d343e;
    --yellow-color: #f5d23c;
    --red-color: #df3c2b;
    --darkred-color: #913019;
    --orange-color: #eb8b31;
    --white-color: #d8e0d3;
    --green-color: darkolivegreen;

    /* Breakpoints */
    --breakpoint-xl: 2500px;
    --breakpoint-xxl: 3000px;

    /* Common values */
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --spacing-sm: 0.5em;
    --spacing-md: 1em;
    --spacing-lg: 2em;

}

/* Стилизация скроллбаров */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-button {
    display: none; /* Убирает стрелки */
    width: 0;
    height: 0;
}

/* Для Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);
}