#postcard-container {
    height: 90%;
    position: relative;
}

#postcard {
    height: 100%;
    width: 100%;
    /*object-fit: contain;*/

    @media screen and (max-width: 800px) {
        height: auto;
    }
}


#posters {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.poster-container {
    position: absolute;
    height: 14em;
    width: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    @media (max-width: 800px) {
        height: 5em;
        width: 4em;

    }

    @media (min-width: 2400px) {
        height: 22em;
        width: 17em;
    }

    @media (min-width: 3400px) {
        height: 34em;
        width: 26em;
    }
}

.border {
    width: 100%;
    height: 100%;
}


.poster {
    position: absolute;
    height: 90%;
    width: 85%;

    &:hover {
        filter: hue-rotate(180deg);
    }
}


/* Постеры фильмов  */
.poster-container:nth-child(1) {
    top: 18%;
    left: 8%;
    transform: rotate(-6deg);

    @media (max-width: 800px) {
        top: 7%;
    }

}

.poster-container:nth-child(2) {
    top: 20%;
    left: 35%;
    transform: rotate(10deg);
    z-index: 2;

    @media (max-width: 800px) {
        top: 8%;
    }
}

.poster-container:nth-child(3) {
    top: 51%;
    left: 6%;
    transform: rotate(-7deg);

    @media (max-width: 800px) {
        top: 24%;
    }
}

.poster-container:nth-child(4) {
    top: 51%;
    left: 31%;
    transform: rotate(4deg);

    @media (max-width: 800px) {
        top: 24%;
    }
}


/* Декоративные штампы */


.stamp {
    position: absolute;
    height: 20%;
}


.stamp_1 {
    top: 50%;
    left: 25%;
}

.stamp_2 {
    position: absolute;
    top: 75%;
    left: 95%;
    transform: rotate(6deg);

    @media (min-width: 2400px) {
        top: 78%;
        left: 108%;
    }

    @media (min-width: 3000px) {
        left: 105%;
    }
}

/* Текстовое описание приглашения */
#invitation {
    position: absolute;
    height: 48%;
    width: 45%;
    top: 39%;
    left: 53%;
    font-size: 1.8em;
    font-weight: bold;


    span {
        display: block;
        margin-bottom: 0.9em;
        border-bottom: 2px dashed var(--red-color);
        line-height: 1.4;

        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        max-width: 100%;


    }

    @media (max-width: 800px) {
        top: 14%;
        font-size: 0.7em;

    }


    @media (min-width: 1700px) {
        font-size: 2em;

    }

    @media (min-width: 2400px) {
        font-size: 2.5em;

    }

    @media (min-width: 3000px) {
        font-size: 3.5em;

    }

}