.movies-container{
    width: 100%;

    h1 {
        color: var(--orange-color);
        font-weight: bold;
    }
}

.movie {
    width: 20%;

    img {
        width: 85%;
    }
    h4 {
        color: var(--red-color);
    }
}


#stats {
    color: var(--black-color);

    ul {
        list-style: none;
    }

    span {
        background-color: var(--white-color);
        font-weight: bold;
    }


}

@media (min-width: 3000px) {
    #stats {
        font-size: 2.5em;
    }

    .svg-container {
        width: 40vw;
    }

}

