{% extends "based_layout.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/features/statistic.css' %}">
{% endblock %}
{% block title %}Статистика{% endblock %}

{% block center-content %}

    <div id="main-container">
        {% for rate_name, rate_movies in movies_rating.items %}

            <div class="row movies-container">

                <h2>{{ rate_name }}</h2>
                {% for m in rate_movies %}

                    <div class="movie" data-kp-id="{{ m.kp_id }}">
                        <div class="poster-container">
                            <img src="{{ m.poster_local }}" alt="" loading="lazy" data-kp-id="{{ m.kp_id }}">
                            <div class="rating">
                                <span><img src="{% static 'img/imdb.svg' %}" alt="imdb">{{ m.rating_imdb }}</span>
                                <span><img src="{% static 'img/kinopoisk.svg' %}" alt="kp">{{ m.rating_kp }}</span>
                                <span><img src="{% static 'img/icon.png' %}" alt="polka">{{ m.rating }}</span>
                            </div>
                        </div>

                        <h4>{{ m.name }}</h4>
                    </div>

                {% endfor %}
            </div>

            <br>
        {% endfor %}

    </div>




    <h2>Мы vs Мир</h2>
    {{ graphs.club_vs_imdb|safe }}

    <h2>Переоценённые шедевры</h2>
    {{ graphs.overrated|safe }}

    <h2>Недооценённые нами</h2>
    {{ graphs.underrated|safe }}

    <h2>Эволюция вкуса</h2>
    {{ graphs.yearly_trend|safe }}

    <h2>Жанровая карта</h2>
    {{ graphs.genres_treemap|safe }}


{% endblock %}

{% block right-content %}

    <div id="stats">
        <h3>Общее</h3>
        <table>
            <tbody>
            {% for stat_name, stat in statistic.items %}
                <tr>
                    <td>{{ stat_name }}</td>
                    <td>{{ stat }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
    <br>

    <div id="genres">
        <h3>Жанры</h3>
        {% autoescape off %} {{ genres_table }} {% endautoescape %}
    </div>



{% endblock %}