{% extends "based_layout.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/features/tarot.css' %}">
{% endblock %}

{% block title %}Таро{% endblock %}


{# Поле с картами #}
{% block center-content %}
    <div class="reading-area" id="readingArea"></div>

    {# Модальное окно #}
    <div id="cardModal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <div class="modal-image-container">
                <img id="modalCardImage" src="" alt="Карта Таро">
            </div>
            <div class="modal-description">
                <h2 id="modalCardTitle"></h2>
                <p id="modalCardDescription"></p>
            </div>
        </div>
    </div>
{% endblock %}

{# Колода #}
{% block right-content %}
    <div class="deck" id="deck">
        <img class="deck-card" src="{% static 'img/tarots/back.jpg' %}" alt="deck">
        <ul id="open-cards-list">
        </ul>
    </div>
{% endblock %}



{# Подключаем js #}
{% block script %}
    <script type="module" src="{% static 'js/features/tarot.js' %}"></script>
{% endblock %}


