#order {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 0 0 1em;
    position: relative;
}

#order-img {
    height: 30%;

    &:hover {
        cursor: pointer;
    }

}

#order-list {
    visibility: hidden;

    position: absolute;
    z-index: 2;

    top: 20vh;
    left: -5em;
    width: 14em;
    max-height: 60vh;
    overflow: auto;

    padding-left: 0;
    list-style: none;


    span {
        font-weight: bold;
        font-size: 1em;
    }

    li {
        background-color: var(--black-color);
        color: var(--white-color);
        border-bottom: 2px solid black;
        padding: 1em;
    }

    li.active {
        background-color: var(--green-color);
        color: var(--white-color);
    }

    li:hover {
        background-color: var(--yellow-color);
        color: var(--black-color);
        cursor: pointer;
        font-weight: bold;
    }

    @media (min-width: 2500px) {
        right: 5vw;
        width: 33em;

        span {
            font-size: 1.5em;
        }

    }


    @media (min-width: 3000px) {
        right: 8vw;
        width: 41em;

        span {
            font-size: 2.3em;
        }

    }

}