
{% load static %}

<h2 class="tab-title">{{ position }}</h2>
<div class="row movies-container">
    {% for m in movies_list %}
        <div class="movie" data-kp-id="{{ m.kp_id }}">
            <div class="poster-container">
                <img class="poster" src="{{ m.poster_local }}">
                <div class="rating">
                    <span><img src="{% static 'img/imdb.svg' %}"> {{ m.rating_imdb }}</span>
                    <span><img src="{% static 'img/kp.svg' %}"> {{ m.rating_kp }}</span>
                    <span><img src="{% static 'img/icon.png' %}"> {{ m.rating }}</span>
                </div>
            </div>
            <h4>{{ m.name }}</h4>
        </div>
    {% endfor %}
</div>