<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/global_settings.css' %}">

    <link rel="stylesheet" href="{% static 'css/based_layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/themes/'|add:theme|add:'.css' %}">


    <link rel="stylesheet" href="{% static 'css/elements/toast.css' %}">
    <link rel="stylesheet" href="{% static 'css/elements/confirmation_tooltip.css' %}">


    {% block extra_head %}{% endblock %}
    {% block style %} {% endblock %}

    <link rel="icon" href="{% static 'img/icon.png' %}">
    <title>{% block title %}Киноклуб{% endblock %}</title>
</head>
<body>


<div class="container-fluid text-center" data-bs-theme="light">

    <div class="row first-row">

        <div class="col-md-3">
            <h1 class="title">КИНОКЛУБ</h1>
        </div>

        <div class="col-md-5 header-img">
            <img class="header-img" src="{{ random.header }}">
        </div>

        <div class="col-md-4 header-options">

            {% block header-button %} {% endblock %}

            <div id="cart">
                <img id="cart-img" src="{% static 'img/based_options/shopping-cart.png' %}" alt=""
                     data-bs-toggle="tooltip"
                     data-bs-placement="top"
                     data-bs-title="Закладки">
                <ul id="cart-list"></ul>
            </div>

            <div id="users-panel" class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Кто?
                </button>
                <ul id="users-selector" class="dropdown-menu">
                    {% for u in users %}

                        <li class="user-name">
{#                            <img src="/static/img/avatars/{{ u.id }}.jpg" alt="">#}
                            <button class="dropdown-item" data-user-id="{{ u.id }}">{{ u.first_name }}</button>
                        </li>

                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>


    <div class="row second-row">

        <div class="col-md-3 container nav-column">
                <nav class="nav flex-column">
                    <a class="nav-link" href="/movies/">Фильмы</a>
                    <a class="nav-link" href="/movies/archive/">Архив</a>
                    <a class="nav-link" href="/">Церемония</a>
                    <a class="nav-link" href="/archive/">Открытки</a>
                    <a class="nav-link" href="/bar/">Бар</a>
                    <a class="nav-link" href="/movies/add/">Добавление</a>
                    <a class="nav-link" href="/features/catalog/">Фишки</a>
                </nav>
                <img class="align-self-center mt-auto nav-img" src="{{ random.navigation }}">
        </div>

        <div class="col-md-6 h-100">
            {% block center-content %} {% endblock %}
        </div>

        <div class="col-md-3">
            {% block right-content %} {% endblock %}
        </div>
    </div>


</div>

{% block fixed %} {% endblock %}

{# для нового года оставим гирлянду #}
{% if  theme == 'new_year'%}
	<div class="gir_1" id="gir"></div> Гирлянда
{% endif %}


{% include "elements/toast.html" %}


<script type="module" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script type="module" src="{% static 'js/based_layout.js' %}"></script>
<script type="module" src="{% static 'js/themes/'|add:theme|add:'.js' %}"></script>

{% block script %} {% endblock %}

</body>
</html>