{% extends "based_layout.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/movies.css' %}">
    <link rel="stylesheet" href="{% static 'css/elements/rating_notes.css' %}">
    <link rel="stylesheet" href="{% static 'css/elements/rating_modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/elements/filter.css' %}">
    <link rel="stylesheet" href="{% static 'css/elements/sort.css' %}">
    <link rel="stylesheet" href="{% static 'css/elements/user_requirement_modal.css' %}">
{% endblock %}

{% block title %}Кино{% endblock %}

{# Кнопка в верху #}
{% block header-button %}
    {% include "elements/sort.html" with fields=genres %}

    {% include "elements/filter.html" with fields=genres %}

    {% if is_archive %}
        {% include "elements/rating_notes.html" %}
    {% endif %}
{% endblock %}

{# Основной блок с постерами#}
{% block center-content %}

    <div class="row posters-grid" data-kp-id="{{ i.kp_id }}">

        {% for i in movies %}

            <div class="poster-container" data-kp-id="{{ i.kp_id }}">

                <img class="poster-img"
                     src="{% static "img/poster_placeholder.jpg" %}"
                     data-src="{{ i.poster_local }}"
                     alt=""
                     loading="lazy"
                     data-kp-id="{{ i.kp_id }}"
                     onerror="this.src={% static 'img/poster_placeholder.jpg' %}">
            
                {# Стикеры с оценками#}
                <div class="note-container" data-kp-id="{{ i.kp_id }}">

                    {% for note in i.notes %}

                        {% for u in users %}
                            {% if note.user == u.id %}
                                <div class="note"
                                     data-user-id="{{ u.id }}"
                                     data-bs-toggle="tooltip"
                                     data-bs-placement="top"
                                     data-bs-title="{{ u.first_name }}?">

                                    <h2>{{ note.rating }}</h2>
                                    {# <p>{{ note.rating }}</p>#}
                                </div>
                            {% endif %}
                        {% endfor %}


                    {% endfor %}

                </div>

                {# Опции под постерами #}
                <div class="poster-settings">

                    <img class="opt opt-booked" src="{% static 'img/poster_options/bookmark4.png' %}" alt=""
                         data-bs-toggle="tooltip"
                         data-bs-placement="top"
                         data-bs-title="Добавить в закладки">

                    {% if is_archive %}
                        <img class="opt opt-archive" src="{% static 'img/poster_options/archive3.png' %}" alt=""
                             data-bs-toggle="tooltip"
                             data-bs-placement="top"
                             data-bs-title="Убрать из архива">
                    {% else %}
                        <img class="opt opt-archive" src="{% static 'img/poster_options/archive4.png' %}" alt=""
                             data-bs-toggle="tooltip"
                             data-bs-placement="top"
                             data-bs-title="В архив">
                    {% endif %}

                    {% if is_archive %}
                        <img class="opt opt-rate" src="{% static 'img/poster_options/heart4.png' %}" alt=""
                             data-bs-toggle="tooltip"
                             data-bs-placement="top"
                             data-bs-title="Оценить">
                    {% endif %}

                    <img class="opt opt-remove" src="{% static 'img/poster_options/boom2.png' %}" alt=""
                         data-bs-toggle="tooltip"
                         data-bs-placement="top"
                         data-bs-title="Удалить">
                </div>
            
                {% include "elements/confirmation_tooltip.html" with title="Удалить фильм?" %}
            </div>

        {% endfor %}

    </div>

{% endblock %}

{# Большой постер с описанием фильма #}
{% block right-content %}
    <div class="card-container">
        <img class="card-img" src="{{ random.poster }}">
        <h2 class="card-title"></h2>
        <p class="card-description card-description-hidden"></p>
        <h3 class="card-realise"></h3>
        <p class="card-duration"></p>
        <p class="card-rating hidden">
            <a id="kp-rating" target="_blank">
                <img src="{% static 'img/kinopoisk.svg' %}" alt="kinopoisk">
                <span></span>
            </a>
            <a id="imdb-rating" target="_blank">
                <img src="{% static 'img/imdb.svg' %}" alt="imdb">
                <span></span>
            </a>
        </p>
    </div>
{% endblock %}

{# Скрытые элементы/модалки #}
{% block fixed %}
    {% include "elements/rating_modal.html" %}
    {% include "elements/user_requirement_modal.html" %}
{% endblock %}

{# Подключаем js #}
{% block script %}
    <script type="module" src="{% static 'js/movies.js' %}"></script>
{% endblock %}


