{% extends "based_layout.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/postcard.css' %}">
    <link rel="stylesheet" href="{% static 'css/elements/postcard_save.css' %}">
{% endblock %}

{% block title %}Фильмы{% endblock %}

{% block header-button %}
    {% include "elements/postcard_save.html" %}
{% endblock %}


{% block center-content %}

    <div id="postcard-container">
        <img id="postcard" src="{{ random.postcard }}" alt="">

        <div id="posters">
        </div>

        <div id="invitation">
            <span id="invitation-title" contentEditable="true" spellcheck="false">Скоро ...</span>
            <span>&nbsp</span>
        </div>

    </div>


{% endblock %}



{% block script %}
{#    <script type="module" src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js"></script>#}
    <script type="module" src="{% static 'js/postcard.js' %}"></script>
{% endblock %}
