{% extends "based_layout.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/postcard.css' %}">
    <link rel="stylesheet" href="{% static 'css/elements/postcard_header.css' %}">
{% endblock %}

{% block title %}Фильмы{% endblock %}

{% block header-button %}
    {% include "elements/postcard_header.html" %}
{% endblock %}


{% block center-content %}

    <div id="postcard-container">

        <img id="postcard" src="{{ postcard }}" alt="default">

        <div id="posters">
        </div>

        {% if not is_active %}
            <div id="invitation">
                <span id="invitation-title" contentEditable="true" spellcheck="false">Скоро ...</span>
                <span>&nbsp</span>
            </div>

        {% endif %}


    </div>


{% endblock %}



{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/modern-screenshot@4.6.0/dist/index.min.js"></script>
    <script type="module" src="{% static 'js/postcard.js' %}"></script>
{% endblock %}
