{% extends "based_layout.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/statistic.css' %}">
{% endblock %}
{% block title %}Фильмы{% endblock %}

{% block center-content %}

    <div id="movies-users" class="row movies-container">
        <h1>Лучшие фильмы по мнению пользователей</h1>
        {% for m in movies %}

            <div class="movie" data-kp-id="{{ m.kp_id }}">
                <img src="{{ m.poster_local }}" alt="" loading="lazy" data-kp-id="{{ m.kp_id }}">
                <h4>{{ m.name }}</h4>
            </div>

        {% endfor %}
    </div>

    <br>

    <div id="movies-imdb" class="row movies-container">
        <h1>Лучшие фильмы по мнению imdb</h1>
        {% for m in imdb_movies %}

            <div class="movie" data-kp-id="{{ m.kp_id }}">
                <img src="{{ m.poster_local }}" alt="" loading="lazy" data-kp-id="{{ m.kp_id }}">
                <h4>{{ m.name }}</h4>
            </div>

        {% endfor %}
    </div>

    <br>

    <div id="stats">
        <ul>
            <li>Всего посмотренно фильмов: <span>{{ statistic.count }} </span></li>
            <li>Общая продолжительность: <span>{{ statistic.total_duration }}</span></li>
            <li>Средняя оценка на кинопоиске: <span>{{ statistic.rating_kp }}</span></li>
            <li>Средняя оценка на imdb: <span>{{ statistic.rating_imdb }}</span></li>
        </ul>
    </div>

{#    <div class="graph">#}
{#        {{ graph_div|safe }}#}
{#    </div>#}
{% endblock %}